* {
	margin: 0;
	padding: 0;
}

body {
	background:white;
	margin: 10px;
	font-size: 14px;
	color: #222222;
}

table {
	margin-top: 3px;
	margin-bottom: 5px;
	background: #C1DAD7;
	width: 100%;
	text-align: center;
}

tr {
	background: white;
	height: 25px;
}

div tr:hover {
	background: #CAE8EA;
	cursor: pointer;
	color: 999999;
}

div tr:hover a {
	color: blue;
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

.th {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	background: #CAE8EA url(../Images/bg_header.jpg) repeat-x;
	color: #222222;
}

.th:hover {
	background: #CAE8EA url(../Images/bg_header.jpg) repeat-x;
	color: #222222;
	cursor: auto;
}

.button {
	border-top: #DDDDDD 1px solid;
	border-bottom: #6a6a6a 1px solid;
	border-left: #DDDDDD 1px solid;
	border-right: #6a6a6a 1px solid;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 14px;
	background: #CAE8EA url(../Images/bg_header.jpg) repeat-x;
	cursor: pointer;
	color: #663333;
	padding-top: 3px;
	height: 25px;
}

.file {
	border: #6a6a6a 2px solid;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 14px;
	cursor: pointer;
	padding-top: 3px;
	height: 25px;
}
.file:hover {
	border: #76D3C8 2px solid;
}

.button:hover {
	background: #CAE8EA url(../Images/bg_header.jpg) repeat-x;
	border-bottom: #6a6a6a 2px solid;
	border-right: #6a6a6a 2px solid;
	color: #000000;
}

.saixuan {
	text-align: left;
	margin-top: 5px;
}
.cb{
	width:25px;
	height:25px;
}